<footer class="footer has-background-dark has-text-white">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column">
        <h4 class="title is-4 has-text-white">SPORT FAMILY</h4>
        <p>{{ labels[lang()].address }}</p>
        <p>+380 67 384 1021</p>
      </div>
      <div class="column">
        <h4 class="title is-4 has-text-white">{{ labels[lang()].social }}</h4>
        <div class="buttons is-centered">
          <a href="https://www.instagram.com/sport_family_kp/" target="_blank" class="button is-danger">
            <span class="icon"><i class="fab fa-instagram"></i></span>
            <span>Instagram</span>
          </a>
          <a href="https://www.facebook.com/sportfamilyclubkp" target="_blank" class="button is-link">
            <span class="icon"><i class="fab fa-facebook"></i></span>
            <span>Facebook</span>
          </a>
        </div>
      </div>
    </div>
    <hr style="background-color: #555">
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <p class="mb-2">&copy; 2024 Sport Family Club. {{ labels[lang()].rights }}.</p>
      <div class="is-flex is-align-items-center">
        <a href="https://github.com/IT-Kamianets/sport-family.itkamianets.com" target="_blank" class="has-text-white mr-3 is-flex is-align-items-center">
          <span class="icon is-medium"><i class="fab fa-github fa-lg"></i></span>
        </a>
        <span class="is-size-7 has-text-grey">Designed By Anatoliy</span>
      </div>
    </div>
  </div>
</footer>
